[build]
  command = "pnpm run build"
  publish = ".output/public"

[functions]
  directory = ".output/server"
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
